/* components/Header.module.css */

.headerContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .menuIcon {
    margin-right: 25px;
    cursor: pointer;
    font-size: 24px;
    color: #0055B7;
  }
  
  .courseTitle {
    margin-right: 10px;
  }
  
  .link {
    text-decoration: none;
    color: #0055B7;
    font-size: 18px;
  }
  
  .pageTitle {
    margin-left: 10px;
    color: #333;
    font-size: 16px;
  }

  